body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

.content {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.radar-and-legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, auto));
  gap: 10px;
}

.radar {
  margin: 0 auto;
}

.legend-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

h3 {
  margin: 20px 0 3px 0;
}

h4 {
  margin: 15px 0 3px 0;
}

li {
  margin: 25px 50px 0 0;
}

.information {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  margin: 0 auto;
}

.blip {
  cursor: pointer;
}

.legend-item {
  font-size: 13px;
  cursor: pointer;
  border-radius: 10px;
  padding: 1px 5px;
  margin-left: -5px;
  margin-bottom: 2px;
}

.legend-item--highlighted {
  background-color: #DADDE0;
}
