body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 10px;
}

.content {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

h3 {
  margin-top: 10px;
}

li {
  margin: 25px 50px 0 0;
}

.information {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  margin: 0 auto;
}

.blip {
  cursor: pointer;
}

.legend-item {
  cursor: pointer;
}

.legend-item--highlighted {
  background-color: #DADDE0;
}
